<a href="https://colab.research.google.com/github/rutuja102005/Python-Codes/blob/main/Salary_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = {
    "Name": ["Amit", "Raj", "Priya", "Neha"],
    "Department": ["IT", "HR", "IT", "Finance"],
    "Salary": [45000, 50000, 48000, 60000]
}

df = pd.DataFrame(data)
print(df)
print("\nHighest Salary Employee:\n", df.loc[df["Salary"].idxmax()])

    Name Department  Salary
0   Amit         IT   45000
1    Raj         HR   50000
2  Priya         IT   48000
3   Neha    Finance   60000

Highest Salary Employee:
 Name             Neha
Department    Finance
Salary          60000
Name: 3, dtype: object

In [ ]:
import pandas as pd

data = {"Name": ["A", "B", "C", "D", "E"],
        "Maths": [75, 88, 92, 45, 81]}

df = pd.DataFrame(data)
print(df[df["Maths"] > 80])

  Name  Maths
1    B     88
2    C     92
4    E     81

In [ ]:
import pandas as pd

days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
temp = [30, 32, 33, 31, 29, 35, 34]

df = pd.DataFrame({"Day": days, "Temperature": temp})
print(df)
print("\nAverage Temperature:", df["Temperature"].mean())

   Day  Temperature
0  Mon           30
1  Tue           32
2  Wed           33
3  Thu           31
4  Fri           29
5  Sat           35
6  Sun           34

Average Temperature: 32.0

In [ ]:
import pandas as pd

data = {"Name": ["Anil", "Ravi", "Sneha", "Pooja"],
        "Salary": [40000, 35000, 50000, 45000]}
df = pd.DataFrame(data)
print(df.sort_values(by="Salary", ascending=False))

    Name  Salary
2  Sneha   50000
3  Pooja   45000
0   Anil   40000
1   Ravi   35000

In [ ]:
import pandas as pd

names = [input("Enter name: ") for _ in range(5)]
roll = [int(input("Enter roll no: ")) for _ in range(5)]
p = [int(input("Physics: ")) for _ in range(5)]
c = [int(input("Chemistry: ")) for _ in range(5)]
m = [int(input("Maths: ")) for _ in range(5)]

df = pd.DataFrame({
    "Roll No": roll,
    "Name": names,
    "Physics": p,
    "Chemistry": c,
    "Maths": m
})

df["Total"] = df["Physics"] + df["Chemistry"] + df["Maths"]
df["Average"] = df["Total"] / 3
df["Grade"] = ["A" if avg >= 85 else "B" if avg >= 70 else "C" if avg >= 50 else "Fail"
               for avg in df["Average"]]

print("\nFinal Marksheet:\n", df)
print("\nTopper:\n", df.loc[df["Total"].idxmax()])
y

Enter name: na
Enter name: yj
Enter name: bh
Enter name: gh
Enter name: gh
Enter roll no: g

ValueError: invalid literal for int() with base 10: 'g'

In [ ]:
import pandas as pd

data = {
    "Name": ["A", "B", "C", "D", "E", "F"],
    "Region": ["East", "West", "East", "South", "North", "South"],
    "Sales": [50000, 42000, 55000, 38000, 60000, 47000]
}

df = pd.DataFrame(data)

print("Total Sales:", df["Sales"].sum())
print("Average Sales:", df["Sales"].mean())
print("Highest Sales:\n", df.loc[df["Sales"].idxmax()])
print("Lowest Sales:\n", df.loc[df["Sales"].idxmin()])

print("\nRegion-wise Average Sales:\n", df.groupby("Region")["Sales"].mean())

Total Sales: 292000
Average Sales: 48666.666666666664
Highest Sales:
 Name          E
Region    North
Sales     60000
Name: 4, dtype: object
Lowest Sales:
 Name          D
Region    South
Sales     38000
Name: 3, dtype: object

Region-wise Average Sales:
 Region
East     52500.0
North    60000.0
South    42500.0
West     42000.0
Name: Sales, dtype: float64